p {
    padding: 0 20px;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

.homeimage {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
}

@media screen and (max-width: 1000px) {
    p {
        font-size: 16px;
    }
    .homeimage {
        width: 500px;
    }
}